@bubble-menu-title-color:                                   #cbcbcb;
@bubble-menu-link-color:                                    #7e7e7e;
@bubble-menu-hover-link-color:                              #019191;
@bubble-menu-padding:                                       15px;
@bubble-menu-title-margin:                                  10px;
@bubble-menu-alert-subtitle-color:                          #979797;
@bubble-menu-alert-danger-color:                            #de5a5a;
@bubble-menu-alert-success-color:                           #15b04f;
@bubble-menu-alert-marker-size:                             12px;
@bubble-menu-alert-padding:                                 25px;
@bubble-menu-alert-margin:                                  20px;
@bubble-table-link-color:                                   #00938e;
@bubble-table-text-color:                                   #616464;

.bubble{
  position: relative;

  &.bubble-title{
    margin-bottom: 2rem;

    h2{
      .ellipsis();
    }

    .main-actions{
      padding-left: 2rem;

      &:before{
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: linear-gradient(to right, fadeout(@white, 100%) 0%, @white 20%);
        height: 100%;
        z-index: -1;
      }
    }
  }

  p{
    color: #939292;
    font-family: @installation-paragraph-font-family;
    line-height: 1.5em;
  }

  h2{
    color: @system-base-color;
    font-weight: normal;
    margin: 0 !important;
    line-height: @button-small-height;
  }

  h3{
    color: @black-40;
    margin-bottom: 0.5rem;
  }

  table.simple-data{
    tr{
      td{
        color: @bubble-table-text-color;
        padding: 0.5rem 1rem;

        &.table-label{
          color: #c8c8c8;
        }

        a{
          color: #00938e;
        }
      }
    }

    a{
      transition: @faster;
      text-decoration: underline;
      color: @bubble-table-link-color;

      &:hover{
        color: lighten(@bubble-table-link-color, 5%);
      }

      &:active{
        transition: 0;
        color: @bubble-table-link-color;
      }
    }
  }
}

.bubble-menu{
  margin-bottom: @element-vertical-margin;

  .active-unit{
    color: #269b96;
    font-size: 1.8em;

    .percentage{
      color: #c5c5c5;
    }
  }

  .user{
    margin-bottom: @element-vertical-margin;
    padding: 0 1rem;

    .data{
      text-align: left;

      .name{
        color: @system-primary-color;
      }

      .role{
        color: @black-40;
      }
    }
  }

  .inside-menu{
    list-style: none;
    margin: 0;
    padding: 0 @bubble-menu-padding;

    .title{
      color: @bubble-menu-title-color;
      font-size: 0.95em;
      font-weight: bold;
      margin-bottom: @bubble-menu-title-margin;
      text-transform: uppercase;
    }

    a{
      transition: @faster;
      color: @bubble-menu-link-color;
      display: inline-block;
      font-size: 1.2em;
      line-height: 1.4em;
      padding: 0.5rem 0;

      &:hover,
      &.active{
        color: @bubble-menu-hover-link-color;
      }

      &.active{
        text-decoration: underline;
      }

      &:active{
        transition: 0;
        color: darken(@bubble-menu-hover-link-color, 5%);
      }
    }
  }

  .alert{
    position: relative;
    padding-left: @bubble-menu-alert-padding;
    // margin-bottom: @bubble-menu-alert-margin;

    .marker{
      .circle(@bubble-menu-alert-marker-size);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 4px; // Fix
    }

    .title{
      font-weight: bold;
    }

    .subtitle{
      color: @bubble-menu-alert-subtitle-color;
      font-size: 0.9em;
    }

    &.danger{
      .title{
        color: @bubble-menu-alert-danger-color;
      }

      .marker{
        background: @bubble-menu-alert-danger-color;
      }
    }

    &.success{
      .title{
        color: @bubble-menu-alert-success-color;
      }

      .marker{
        background: @bubble-menu-alert-success-color;
      }
    }
  }
}