@import "../variables.less";

@user-picture-size:                                         45px;
@user-picture-border-color:                                 @black;
@user-role-color:                                           @white;
@user-font-family:                                          sans-serif;
@user-username-color:                                       @white;
@user-name-font-size:                                       16px;
@user-role-font-size:                                       10px;
@user-data-margin:                                          10px;
@user-picture-button-right:                                 0;
@user-picture-button-bottom:                                0;

.user{
  &.no-picture{
    span.user{
      margin-left: 0;
    }
  }

  // Rounded picture
  .picture img,
  img.picture,
  .picture-placeholder{
    .circle(@user-picture-size);
    box-shadow: 0px 0px 0px 1px darken(@navbar-color, 10%);
    box-sizing: border-box;
  }

  .picture-placeholder{
    color: fadeout(@white, 10%);
    font-size: 18px;
    line-height: @user-picture-size;

    &:before, &:after{
      content: "\00a0 ";
    }
  }

  .picture, .picture-placeholder{
    display: inline-block;
    position: relative;
    vertical-align: middle;

    .button{
      bottom: @user-picture-button-bottom;
      margin: 0 !important;
      position: absolute;
      right: @user-picture-button-right;
    }
  }

  // User name
  span.data{
    display: inline-block;
    font-family: @user-font-family;
    margin-left: @user-data-margin;
    vertical-align: middle;

    .name, .title{
      .ellipsis();
      color: @user-username-color;
      display: block;
      font-size: @user-name-font-size;
      text-transform: capitalize;
    }

    .role{
      color: @user-role-color;
      display: block;
      font-size: @user-role-font-size;
    }
  }
}