<html>
  <head>
    <title>Weed | Test Area</title>
    <link rel="stylesheet" href="dist/assets/css/weed.css">

    <style>
        .input-wrapper.custom input{
          padding-left: 170px !important;
        }

        /*.col{
            background: #eee;
        }*/

        .box{
            background: #ddd;
            color: #555;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 50px;
            margin-bottom: 1rem;
            min-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }

        .ref.grid{
            background: #eee;
        }

        .ref.row{
            background: #eee;
            padding: 0.5rem 0;
            margin-bottom: 0.5rem;
        }

        .ref.row .box{
            margin-bottom: 0;
        }

        .ref.box{
            height: 200px;
            line-height: 200px;
        }

        .grid.frame .box{
            height: 100%;
            margin: 0;
        }

        .grid{
          padding: 0 1rem;
        }
    </style>
  </head>

  <body ng-app="weed.test">

    <we-navbar>

      <!-- Logo: OK -->
      <a we-navbar-element
        type="logo"
        isotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_isotype.png"
        logotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_logotype.png"
        position="left">
      </a>

      <!-- Search: OK -->
      <div we-navbar-element position="left" class="search-form">
        <div class="navbar-element-floater">
            <div we-input-wrapper component-position="right" size="small">
                <we-icon icon="search" class="input-mark"></we-icon>
                <input type="text" placeholder="Busca algo acá...">
            </div>
        </div>
      </div>

      <!-- Link: OK -->
      <a we-navbar-element type="link" icon="cog" position="right"></a>

      <!-- Link: OK -->
      <span we-navbar-element type="separator" position="right"></span>

      <!-- Separator: OK -->
      <a we-navbar-element type="link" icon="plug" position="right"></a>

      <span we-navbar-element type="separator" position="right"></span>

      <!-- User: OK -->
      <a
        we-navbar-element
        type="user"
        position="right"
        user-picture="https://33.media.tumblr.com/avatar_025387c4da6f_128.png"
        user-role="Of the night">Samuel Chávez</a>

      <span we-navbar-element type="separator" position="right"></span>

      <!-- Link: OK -->
      <a we-navbar-element type="link" position="right">Ejemplo</a>

      <!-- Main action: Ok -->
      <div class="navbar-main-action-container">
        <a we-navbar-main-action icon="plus"></a>
      </div>
    </we-navbar>

    <div id="sidebar" we-sidebar>

        <a we-sidebar-header
          isotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_isotype.png"
          logotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_logotype.png"></a>

        <ul class="sidebar-list">
            <li><a we-sidebar-link icon="home">Dashboard</a></li>
            <li><a we-sidebar-link icon="cog">Dashboard</a></li>
            <li><a we-sidebar-link icon="heart">Dashboard</a></li>
            <li><a we-sidebar-link icon="angle-right" we-toggle="sidebar" position="bottom">Dashboard</a></li>
        </ul>
    </div>

    <h1>Icons</h1>

    <!-- Icon: OK -->
    <we-icon icon="cog"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="home"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="heart"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="pencil"></we-icon>

    <h1>Buttons</h1>

    <!-- Button: OK -->
    <button we-button icon="cogs" color="danger" size="small" type="submit">Test</button>

    <h2>Buttons with loaders</h2>
    <a we-button color="success" toload="true">Test</a> <br>
    <a we-button icon="bell" color="success" toload="true"></a> <br>

    <a we-button class="clear-background" icon="bell" color="warning" size="small" toload="true">Test</a> <br>
    <a we-button icon="bell" color="warning" size="small" toload="true"></a> <br>

    <a we-button icon="bell" color="danger" size="tiny" toload="true">Test</a> <br>
    <a we-button icon="bell" color="danger" size="tiny" toload="true"></a>

    <h3>Buttons with loader callback</h3>
    <div ng-controller="WeedButtonController as btnCtrl">
        <a we-button icon="bell" color="info" size="large" toload="btnCtrl.testFunctionToLoad()">Test</a><br>
    </div>

    <h1>Forms</h1>

    <h2>Selects</h2>
    <select>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <select class="block">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h3>Small</h3>
    <select class="input-small">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h3>Tiny</h3>
    <select class="input-tiny">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h2>Textarea</h2>
    <textarea></textarea>

    <h3>Small</h3>
    <textarea class="input-small"></textarea>

    <h3>Tiny</h3>
    <textarea class="input-tiny"></textarea>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button</h2>
    <div we-input-wrapper component-position="left" class="custom">
        <a we-button icon="bell" size="small" color="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button</h2>
    <div we-input-wrapper component-position="right">
        <a we-button icon="cog" size="small" color="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Left tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper component-position="left">
        <a we-button icon="calendar" color="danger"></a>
        <input type="text" placeholder="With left tag">
    </div>

    <!-- Right tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper component-position="right">
        <a we-button icon="calendar" color="success"></a>
        <input type="text" placeholder="With right tag">
    </div>

    <h1>Small size</h1>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" class="input-small" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper size="small" component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper size="small" component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button</h2>
    <div we-input-wrapper size="small" component-position="left" class="custom">
        <a we-button icon="bell" size="tiny" color="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button</h2>
    <div we-input-wrapper size="small" component-position="right">
        <a we-button icon="cog" size="tiny" color="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Left tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper size="small" component-position="left">
        <a we-button icon="calendar" size="small" color="danger"></a>
        <input type="text" placeholder="With left tag">
    </div>

    <!-- Right tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper size="small" component-position="right">
        <a we-button icon="calendar" size="small" color="success"></a>
        <input type="text" placeholder="With right tag">
    </div>

    <h1>Tiny size</h1>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" class="input-tiny" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper size="tiny" component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper size="tiny" component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button / tag</h2>
    <div we-input-wrapper size="tiny" component-position="left" class="custom">
        <a we-button icon="bell" size="tiny" color="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button / tag</h2>
    <div we-input-wrapper size="tiny" component-position="right">
        <a we-button icon="cog" size="tiny" color="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <h2>Popup</h2>
    <a we-button icon="heart" color="warning" we-open="test-popup-1">Open test popup</a>
    <div ng-controller="PopupController as popupCtrl">
        <div id="test-popup-1" we-popup>

          <div class="popup-title-bar">
            Título de popup

            <button class="popup-close" we-close></button>
          </div>

          <div class="popup-content">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Hola</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>

          <div class="popup-actions">
            <a we-button color="success" size="small" icon="check">Ejemplo</a>
            <a we-button color="danger" size="small" icon="bell">Acción</a>
          </div>
        </div>
    </div>

    <h2>Tabs</h2>
    <div we-tabset>
        <div we-tab icon="cog" heading="Djancarlo">
            Contenido 1
        </div>

        <div we-tab icon="bell" heading="Djancarlo 2">
            Contenido 2
        </div>
    </div>

    <h3>Ícono vertical</h3>
    <div we-tabset icon-position="above">
        <div we-tab icon="cog" heading="Djancarlo">
            Contenido 1
        </div>

        <div we-tab icon="bell" heading="Djancarlo 2">
            Contenido 2
        </div>
    </div>

    <h3>Solo ícono</h3>
    <div we-tabset icon-position="above">
        <div we-tab icon="cog">
            Contenido 1
        </div>

        <div we-tab icon="bell">
            Contenido 2
        </div>
    </div>

    <h1>Label</h1>
    <label>
        Etiqueta del input:
        <input type="date">
    </label>

    <label><input type="checkbox">Ejemplo</label>
    <label>Ejemplo:<input type="checkbox"></label>
    <label><input type="radio">Ejemplo</label>
    <label>Ejemplo:<input type="radio"></label>

    <h1>The Greed</h1>
    <h2>Responsive</h2>
    <div class="grid">
        <div class="row">
            <div class="col xs-12 m-6 l-4">
                <div class="box">a</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">b</div>
            </div>

            <div class="col xs-12 m-6 l-4">
                <div class="box">c</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">d</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">e</div>
            </div>

            <div class="col xs-12 m-6 l-4">
                <div class="box">f</div>
            </div>
        </div>
    </div>

    <h2>Offsets</h2>
    <div class="grid">
        <div class="row">
            <div class="col xs-12 m-6 l-4 off-m-6 off-l-8">
                <div class="box">a</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">b</div>
            </div>

            <div class="col xs-12 m-6 l-4">
                <div class="box">c</div>
            </div>
        </div>
    </div>

    <h2>Autowidth</h2>
    <div class="grid">
        <div class="row">
            <div class="col">
                <div class="box">1</div>
            </div>
            <div class="col">
                <div class="box">2</div>
            </div>
            <div class="col">
                <div class="box">3</div>
            </div>
            <div class="col">
                <div class="box">4</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="box">1</div>
            </div>
            <div class="col">
                <div class="box">2</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="box">1</div>
            </div>
            <div class="col">
                <div class="box">2</div>
            </div>
            <div class="col">
                <div class="box">3</div>
            </div>
            <div class="col">
                <div class="box">4</div>
            </div>
            <div class="col">
                <div class="box">5</div>
            </div>
            <div class="col">
                <div class="box">6</div>
            </div>
            <div class="col">
                <div class="box">7</div>
            </div>
            <div class="col">
                <div class="box">8</div>
            </div>
        </div>
    </div>

    <h2>Horizontal alignment</h2>
    <div class="grid">
        <div class="row ">
            <div class="col xs-6">
                <div class="box">Start</div>
            </div>
        </div>

        <div class="row center-xs end-m start-l">
            <div class="col xs-6">
                <div class="box">Center</div>
            </div>
        </div>

        <div class="row center-l end-xs start-m">
            <div class="col xs-6">
                <div class="box">End</div>
            </div>
        </div>
    </div>

    <h2>Vertical alignment</h2>
    <div class="grid">
        <div class="ref row top-xs middle-m bottom-l">
            <div class="col">
                <div class="ref box">Ref</div>
            </div>

            <div class="col">
                <div class="box">Top</div>
            </div>
        </div>

        <div class="ref row middle-xs top-l bottom-m">
            <div class="col">
                <div class="ref box">Ref</div>
            </div>

            <div class="col">
                <div class="box">Middle</div>
            </div>
        </div>

        <div class="ref row bottom-xs middle-l top-m">
            <div class="col">
                <div class="ref box">Ref</div>
            </div>

            <div class="col">
                <div class="box">Bottom</div>
            </div>
        </div>
    </div>

    <h2>Distribution</h2>

    <h3>Around</h3>
    <div class="grid">
        <div class="ref row around-xs">
            <div class="col xs-3">
                <div class="box">A</div>
            </div>

            <div class="col xs-3">
                <div class="box">B</div>
            </div>

            <div class="col xs-3">
                <div class="box">C</div>
            </div>
        </div>
    </div>

    <h3>Between</h3>
    <div class="grid">
        <div class="ref row between-xs">
            <div class="col xs-3">
                <div class="box">A</div>
            </div>

            <div class="col xs-3">
                <div class="box">B</div>
            </div>

            <div class="col xs-3">
                <div class="box">C</div>
            </div>
        </div>
    </div>

    <h2>Full height frames</h2>
    <div we-fill-height debounce-wait="2000">
        <div class="ref grid frame">
            <div class="row">
                <div class="col xs-3">
                    <div class="box">A</div>
                </div>

                <div class="col xs-3">
                    <div class="box">B</div>
                </div>

                <div class="col xs-3">
                    <div class="box">C</div>
                </div>

                <div class="col xs-3">
                    <div class="box">D</div>
                </div>
            </div>
        </div>
    </div>

    <h1>ToLoad</h1>
    <div ng-controller="WeedButtonController as btnCtrl">
        <a class="button button-success" we-toload="btnCtrl.testFunctionToLoad()" loading-class="loading">Ejemplo {{ loading }}</a>
    </div>

    <h1>Auth</h1>
    <div ng-controller="WeedAuthController as authCtrl">
        <a we-button color="success" icon="check" ng-click="authCtrl.login()">Login</a>
        <a we-button color="warning" icon="refresh" ng-click="authCtrl.refreshToken()">Token</a>
        <a we-button color="info" icon="heart" ng-click="authCtrl.testPost()">POST</a><br>
    </div>

    <h1>Corner notifications</h1>
    <div ng-controller="NotificationController as ctrl">
        <a we-button color="info" icon="bell" we-open="main-notification">Open notification</a>
        <a we-button color="warning" icon="times" we-close="main-notification">Close notification</a>
        <a we-button color="danger" icon="cog" ng-click="ctrl.sendNotification()">Create notification</a>
    </div>

    <h1>User cards</h1>

    <h2>Normal size</h2>
    <div class="user-card">
        <img class="picture" src="https://33.media.tumblr.com/avatar_025387c4da6f_128.png">

        <div class="data">
            <div class="name">Samuel Alfredo Chávez</div>
            <div class="extra-data">Knight of Cydonia</div>
            <div class="email">schavezfuentes@gmail.com</div>
        </div>
    </div>

    <h2>Compressed</h2>
    <div class="user-card compress">
        <img class="picture" src="https://33.media.tumblr.com/avatar_025387c4da6f_128.png">

        <div class="data">
            <div class="name">Samuel Alfredo Chávez</div>
            <div class="extra-data">Knight of Cydonia</div>
            <div class="email">schavezfuentes@gmail.com</div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div
        we-corner-notification
        id="main-notification"
        timeout="4000"
        color="success"
        icon="bell"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quo officiis."></div>

    <!-- Dev scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="/dist/assets/js/weed.js"></script>
    <script src="/dist/assets/js/templates.js"></script>
    <script>
        (function(angular){
            'use strict';

            angular
                .module('weed.test', ['weed', 'ngAnimate'])
                .config(weedConfig)
                .controller('WeedButtonController', weedButtonCtrl)
                .controller('WeedAuthController', weedAuthController)
                .controller('PopupController', popupController)
                .controller('NotificationController', notificationController)
                .run(weedRun);

            // Dependencies
            weedConfig.$inject = ['$httpProvider'];
            weedRun.$inject = ['weedJWTAuthService'];
            weedButtonCtrl.$inject = ['$scope', '$q', '$timeout'];
            weedAuthController.$inject = ['$scope', 'weedJWTAuthService', '$http'];
            popupController.$inject = ['WeedApi'];
            notificationController.$inject = ['WeedApi'];

            function notificationController(WeedApi){
                var vm = this;

                vm.sendNotification = function(){
                    WeedApi.publish('main-notification', {
                        text: 'jajaja',
                        type: 'error',
                        icon: 'cog',
                        timeout: 2000
                    })
                }
            }

            function popupController(WeedApi){
                var vm = this;

                vm.closeActiveElements = function(){
                    WeedApi.closeActiveElements();
                }
            }

            // Test module http configuration
            function weedConfig($httpProvider){
                $httpProvider.interceptors.push('weedJWTInterceptor');
            }

            // Test module initial JWT setup
            function weedRun(weedJWTAuthService){
                weedJWTAuthService.addNewApi({
                    id: 'finance',
                    url: 'http://127.0.0.1:8000',
                    autoRefresh: {
                        enabled: true,
                        timeDelta: 290
                    }
                });

                weedJWTAuthService.addNewApi({
                    id: 'finance2',
                    url: 'http://127.0.0.2:8000'
                });

                weedJWTAuthService.addNewApi({
                    id: 'finance3',
                    url: 'http://127.0.0.3:8000'
                });
            }

            // Test button controller
            function weedButtonCtrl($scope, $q, $timeout){
                var vm = this;

                vm.testFunctionToLoad = function() {
                    var defer = $q.defer(),
                        promise;

                    // Mock
                    $timeout(function(){
                        if(Math.round(Math.random())){
                            defer.resolve("resolved");
                        }
                        else {
                            defer.reject("rejected");
                        }
                    }, 2000);

                    // Get promise
                    promise = defer.promise;

                    promise.then(
                        function(){
                            // TODO: local code to handle success
                        },
                        function(){
                            // TODO: local code to handle failure
                        }
                    );

                    return promise;
                }
            };

            // Test auth controller
            function weedAuthController($scope, weedJWTAuthService, $http){
                var vm = this;

                vm.add = function(a, b){
                    console.log("llega mula");
                    return a + b;
                }

                vm.login = function(){
                    var r = weedJWTAuthService.login(
                        'finance',
                        {
                            email: 'root@root.com',
                            password: 'root'
                        }
                    );

                    r.error(function(d){
                        console.log("Error: ");
                        console.dir(d);
                    }).success(function(d){
                        console.log("Success: ");
                        console.log(localStorage);
                        console.log(weedJWTAuthService.getUser('finance'));
                    });
                }

                vm.refreshToken = function(){
                    var r = weedJWTAuthService.refreshToken('finance');
                    r.error(function(d){
                        console.log("Error: ");
                        console.log(d);
                    }).success(function(d){
                        console.log("Success: ");
                        console.log(localStorage);
                        console.log(weedJWTAuthService.getUser('finance'));
                    });
                }

                vm.testPost = function(){
                    $http.get('http://127.0.0.1:8000/user/');
                }
            }
        })(angular);
    </script>
    </body>
</html>