<html>
  <head>
    <title>Weed | Test Area</title>
    <link rel="stylesheet" href="dist/assets/css/weed.css">

    <style>
        .input-wrapper.custom input{
          padding-left: 170px !important;
        }

        body{
          transition: 0.5s;
          padding-left: 80px;
          padding-top: 75px;
        }

        body.open-sidebar{
          padding-left: 220px;
        }
    </style>
  </head>

  <body ng-app="weed.test">
    <div class="navbar">

      <!-- Logo: OK -->
      <a we-navbar-element
        type="logo"
        isotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_isotype.png"
        logotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_logotype.png"
        position="left">
      </a>

      <!-- Search: OK -->
      <div we-navbar-element position="left" class="search-form">
        <div class="navbar-element-floater">
            <div we-input-wrapper component-position="right" size="small">
                <we-icon icon="search" class="input-mark"></we-icon>
                <input type="text">
            </div>
        </div>
      </div>

      <!-- Link: OK -->
      <a we-navbar-element type="link" icon="cog" position="right"></a>

      <!-- Link: OK -->
      <span we-navbar-element type="separator" position="right"></span>

      <!-- Separator: OK -->
      <a we-navbar-element type="link" icon="plug" position="right"></a>

      <!-- Main action: Ok -->
      <div class="navbar-main-action-container">
        <a we-navbar-main-action icon="plus"></a>
      </div>
    </div>

    <div id="sidebar" we-sidebar>

        <a we-sidebar-header
          isotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_isotype.png"
          logotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_logotype.png"></a>

        <ul class="sidebar-list">
            <li><a we-sidebar-link icon="home">Dashboard</a></li>
            <li><a we-sidebar-link icon="cog">Dashboard</a></li>
            <li><a we-sidebar-link icon="heart">Dashboard</a></li>
            <li><a we-sidebar-link icon="angle-right" position="bottom" we-toggle="sidebar">Dashboard</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-s-12 col-m-6 col-l-4">
            <div class="box">a</div>
        </div>
        <div class="col-s-12 col-m-6 col-l-4">
            <div class="box">b</div>
        </div>

        <div class="col-s-12 col-m-6 col-l-4">
            <div class="box">c</div>
        </div>

        <div class="col-s-12 col-m-6 col-l-4">
            <div class="box">d</div>
        </div>
        <div class="col-s-12 col-m-6 col-l-4">
            <div class="box">e</div>
        </div>

        <div class="col-s-12 col-m-6 col-l-4">
            <div class="box">f</div>
        </div>
    </div>


    <h1>Icons</h1>

    <!-- Icon: OK -->
    <we-icon icon="cog"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="home"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="heart"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="pencil"></we-icon>

    <h1>Buttons</h1>

    <!-- Button: OK -->
    <a we-button icon="cogs" type="danger" size="small">Test</a>

    <h2>Buttons with loaders</h2>
    <a we-button state="block" type="success" toload="true">Test</a> <br>
    <a we-button icon="bell" type="success" toload="true"></a> <br>

    <a we-button icon="bell" type="warning" size="small" toload="true">Test</a> <br>
    <a we-button icon="bell" type="warning" size="small" toload="true"></a> <br>

    <a we-button icon="bell" type="danger" size="tiny" toload="true">Test</a> <br>
    <a we-button icon="bell" type="danger" size="tiny" toload="true"></a>

    <h3>Buttons with loader callback</h3>
    <div ng-controller="WeedButtonController as btnCtrl">
        <a we-button icon="bell" type="info" size="large" toload="btnCtrl.testFunctionToLoad()">Test</a><br>
    </div>

    <h1>Forms</h1>

    <h2>Selects</h2>
    <select>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h3>Small</h3>
    <select class="input-small">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h3>Tiny</h3>
    <select class="input-tiny">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button</h2>
    <div we-input-wrapper component-position="left" class="custom">
        <a we-button icon="bell" size="small" type="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button</h2>
    <div we-input-wrapper component-position="right">
        <a we-button icon="cog" size="small" type="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Left tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper component-position="left">
        <a we-button icon="calendar" type="danger"></a>
        <input type="text" placeholder="With left tag">
    </div>

    <!-- Right tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper component-position="right">
        <a we-button icon="calendar" type="success"></a>
        <input type="text" placeholder="With right tag">
    </div>

    <h1>Small size</h1>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" class="input-small" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper size="small" component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper size="small" component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button</h2>
    <div we-input-wrapper size="small" component-position="left" class="custom">
        <a we-button icon="bell" size="tiny" type="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button</h2>
    <div we-input-wrapper size="small" component-position="right">
        <a we-button icon="cog" size="tiny" type="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Left tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper size="small" component-position="left">
        <a we-button icon="calendar" size="small" type="danger"></a>
        <input type="text" placeholder="With left tag">
    </div>

    <!-- Right tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper size="small" component-position="right">
        <a we-button icon="calendar" size="small" type="success"></a>
        <input type="text" placeholder="With right tag">
    </div>

    <h1>Tiny size</h1>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" class="input-tiny" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper size="tiny" component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper size="tiny" component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button / tag</h2>
    <div we-input-wrapper size="tiny" component-position="left" class="custom">
        <a we-button icon="bell" size="tiny" type="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button / tag</h2>
    <div we-input-wrapper size="tiny" component-position="right">
        <a we-button icon="cog" size="tiny" type="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <h2>Popup</h2>
    <a we-button icon="heart" type="warning" we-open="test-popup-1">Open test popup</a>
    <div id="test-popup-1" we-popup>
        Wooot!
    </div>

    <h2>Tabs</h2>
    <div we-tabset>
        <div we-tab icon="cog" heading="Djancarlo">
            Contenido 1
        </div>

        <div we-tab icon="bell" heading="Djancarlo 2">
            Contenido 2
        </div>
    </div>

    <h3>Ícono vertical</h3>
    <div we-tabset icon-position="above">
        <div we-tab icon="cog" heading="Djancarlo">
            Contenido 1
        </div>

        <div we-tab icon="bell" heading="Djancarlo 2">
            Contenido 2
        </div>
    </div>

    <h3>Solo ícono</h3>
    <div we-tabset icon-position="above">
        <div we-tab icon="cog">
            Contenido 1
        </div>

        <div we-tab icon="bell">
            Contenido 2
        </div>
    </div>

    <h1>Popup</h1>
    <div class="popup">
        <div class="popup-title-bar">
            Título de popup
        </div>

        <div class="popup-content">
            Test
        </div>

        <div class="popup-actions">
            <a we-button type="success" size="small" icon="check">Ejemplo</a>
            <a we-button type="danger" size="small" icon="bell">Acción</a>
        </div>
    </div>

    <h1>Label</h1>
    <label>
        Etiqueta del input:
        <input type="text">
    </label>

    <label><input type="checkbox">Ejemplo</label>
    <label>Ejemplo:<input type="checkbox"></label>
    <label><input type="radio">Ejemplo</label>
    <label>Ejemplo:<input type="radio"></label>

    <h1>ToLoad</h1>
    <div ng-controller="WeedButtonController as btnCtrl">
        <a class="button button-success" we-toload="btnCtrl.testFunctionToLoad()" loading-class="loading">Ejemplo {{ loading }}</a>
    </div>

    <h1>Auth</h1>
    <div ng-controller="WeedAuthController as authCtrl">
        <a we-button type="success" icon="check" ng-click="authCtrl.login()">Login</a>
        <a we-button type="warning" icon="refresh" ng-click="authCtrl.refreshToken()">Token</a>
        <a we-button type="info" icon="heart" ng-click="authCtrl.testPost()">POST</a><br>
    </div>

    <!-- Dev scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/dist/assets/js/weed.js"></script>
    <script src="/dist/assets/js/templates.js"></script>
    <script>
        (function(angular){
            'use strict';

            angular
                .module('weed.test', ['weed'])
                .config(weedConfig)
                .controller('WeedButtonController', weedButtonCtrl)
                .controller('WeedAuthController', weedAuthController)
                .run(weedRun);

            // Dependencies
            weedConfig.$inject = ['$httpProvider'];
            weedRun.$inject = ['weedJWTAuthService'];
            weedButtonCtrl.$inject = ['$scope', '$q', '$timeout'];
            weedAuthController.$inject = ['$scope', 'weedJWTAuthService', '$http'];

            // Test module http configuration
            function weedConfig($httpProvider){
                $httpProvider.interceptors.push('weedJWTInterceptor');
            }

            // Test module initial JWT setup
            function weedRun(weedJWTAuthService){
                weedJWTAuthService.addNewApi({
                    id: 'finance',
                    url: 'http://127.0.0.1:8000',
                    autoRefresh: {
                        enabled: true,
                        timeDelta: 290
                    }
                });

                weedJWTAuthService.addNewApi({
                    id: 'finance2',
                    url: 'http://127.0.0.2:8000'
                });

                weedJWTAuthService.addNewApi({
                    id: 'finance3',
                    url: 'http://127.0.0.3:8000'
                });
            }

            // Test button controller
            function weedButtonCtrl($scope, $q, $timeout){
                var vm = this;

                vm.testFunctionToLoad = function() {
                    var defer = $q.defer(),
                        promise;

                    // Mock
                    $timeout(function(){
                        if(Math.round(Math.random())){
                            defer.resolve("resolved");
                        }
                        else {
                            defer.reject("rejected");
                        }
                    }, 2000);

                    // Get promise
                    promise = defer.promise;

                    promise.then(
                        function(){
                            // TODO: local code to handle success
                        },
                        function(){
                            // TODO: local code to handle failure
                        }
                    );

                    return promise;
                }
            };

            // Test auth controller
            function weedAuthController($scope, weedJWTAuthService, $http){
                var vm = this;

                vm.add = function(a, b){
                    console.log("llega mula");
                    return a + b;
                }

                vm.login = function(){
                    var r = weedJWTAuthService.login(
                        'finance',
                        {
                            email: 'root@root.com',
                            password: 'root'
                        }
                    );

                    r.error(function(d){
                        console.log("Error: ");
                        console.dir(d);
                    }).success(function(d){
                        console.log("Success: ");
                        console.log(localStorage);
                        console.log(weedJWTAuthService.getUser('finance'));
                    });
                }

                vm.refreshToken = function(){
                    var r = weedJWTAuthService.refreshToken('finance');
                    r.error(function(d){
                        console.log("Error: ");
                        console.log(d);
                    }).success(function(d){
                        console.log("Success: ");
                        console.log(localStorage);
                        console.log(weedJWTAuthService.getUser('finance'));
                    });
                }

                vm.testPost = function(){
                    $http.get('http://127.0.0.1:8000/user/');
                }
            }
        })(angular);
    </script>
    </body>
</html>