<html>
  <head>
    <title>Weed | Test Area</title>
    <link rel="stylesheet" href="dist/assets/css/weed.css">

    <style>
        .input-wrapper.custom input{
          padding-left: 170px !important;
        }

        /*.col{
            background: #eee;
        }*/

        .box{
            background: #ddd;
            color: #555;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 50px;
            margin-bottom: 1rem;
            min-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }

        .ref.grid{
            background: #eee;
        }

        .ref.row{
            background: #eee;
            padding: 0.5rem 0;
            margin-bottom: 0.5rem;
        }

        .ref.row .box{
            margin-bottom: 0;
        }

        .ref.box{
            height: 200px;
            line-height: 200px;
        }

        .grid.frame .box{
            height: 100%;
            margin: 0;
        }

        .grid{
          padding: 0 1rem;
        }
    </style>
  </head>

  <body ng-app="weed.test">

    <we-navbar>

      <!-- Logo: OK -->
      <a we-navbar-element
        type="logo"
        isotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_isotype.png"
        logotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_logotype.png"
        position="left">
      </a>

      <!-- Search: OK -->
      <div we-navbar-element position="left" class="search-form">
        <div class="navbar-element-floater">
            <div we-input-wrapper component-position="right" size="small">
                <we-icon icon="search" class="input-mark"></we-icon>
                <input type="text" placeholder="Busca algo acá...">
            </div>
        </div>
      </div>

      <!-- Link: OK -->
      <a we-navbar-element type="link" icon="cog" position="right"></a>

      <!-- Link: OK -->
      <span we-navbar-element type="separator" position="right"></span>

      <!-- Separator: OK -->
      <a we-navbar-element type="link" icon="plug" position="right" counter="10"></a>

      <span we-navbar-element type="separator" position="right"></span>

      <!-- User: OK -->
      <a
        we-navbar-element
        type="user"
        position="right"
        user-picture="https://33.media.tumblr.com/avatar_025387c4da6f_128.png"
        user-role="Of the night">Samuel Chávez</a>

      <span we-navbar-element type="separator" position="right"></span>

      <!-- Link: OK -->
      <a we-navbar-element type="link" position="right">Ejemplo</a>

      <!-- Main action: Ok -->
      <div class="navbar-main-action-container">
        <a class="navbar-main-action">
          <we-icon icon="plus"></we-icon>
        </a>
      </div>
    </we-navbar>

    <div id="sidebar" we-sidebar>

        <a we-sidebar-header
          isotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_isotype.png"
          logotype="http://cesarchavez.me/edoo/finance/staticmedia/styles/themes/finance/compiled/images/navbar_logotype.png"></a>

        <ul class="sidebar-list">
            <li><a we-sidebar-link icon="home">Dashboard</a></li>
            <li><a we-sidebar-link icon="cog">Dashboard</a></li>
            <li><a we-sidebar-link icon="heart">Dashboard</a></li>
            <li><a we-sidebar-link icon="angle-right" we-toggle="sidebar" position="bottom">Dashboard</a></li>
        </ul>
    </div>

    <h1>Icons</h1>

    <!-- Icon: OK -->
    <we-icon icon="cog"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="home"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="heart"></we-icon>

    <!-- Icon: OK -->
    <we-icon icon="pencil"></we-icon>

    <h1>Buttons</h1>

    <!-- Button: OK -->
    <button we-button icon="cogs" color="danger" size="small" type="submit">Test</button>

    <h2>Buttons with loaders</h2>
    <a we-button color="success" toload="true">Test</a> <br>
    <a we-button icon="bell" color="success" toload="true"></a> <br>

    <a we-button class="clear-background" icon="bell" color="warning" size="small" toload="true">Test</a> <br>
    <a we-button icon="bell" color="warning" size="small" toload="true"></a> <br>

    <a we-button icon="bell" color="danger" size="tiny" toload="true">Test</a> <br>
    <a we-button icon="bell" color="danger" size="tiny" toload="true"></a>

    <br>

    <a
        we-button icon="bell" color="success" class="left-end"></a><a
        we-button icon="github" color="warning" class="mid"></a><a
        we-button icon="cog" color="danger" class="right-end">
    </a>


    <h3>Buttons with loader callback</h3>
    <div ng-controller="WeedButtonController as btnCtrl">
        <button
            we-button
            icon="bell"
            color="info"
            size="large"
            toload="btnCtrl.testFunctionToLoad()"
            class="block">
            Test
        </button><br>
    </div>

    <h1>Forms</h1>

    <h2>Selects</h2>
    <select>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <select class="block">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h3>Small</h3>
    <select class="input-small">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h3>Tiny</h3>
    <select class="input-tiny right-end">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
    </select>

    <h2>Textarea</h2>
    <textarea></textarea>

    <h3>Small</h3>
    <textarea class="input-small"></textarea>

    <h3>Tiny</h3>
    <textarea class="input-tiny"></textarea>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button</h2>
    <div we-input-wrapper component-position="left" class="custom">
        <a we-button icon="bell" size="small" color="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button</h2>
    <div we-input-wrapper component-position="right">
        <a we-button icon="cog" size="small" color="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right multiple buttons</h2>
    <div we-input-wrapper component-position="right">
        <div class="multi-component">
            <a we-button icon="cog" class="mid" color="success"></a><a
                we-button icon="github" class="right-end" color="warning"></a>
        </div>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Left tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper component-position="left">
        <a we-button icon="calendar" color="danger"></a>
        <input type="text" placeholder="With left tag">
    </div>

    <!-- Right tag: OK -->
    <h2>Input right tag</h2>
    <div we-input-wrapper component-position="right">
        <a we-button icon="calendar" color="success"></a>
        <input type="text" placeholder="With right tag">
    </div>

    <h1>Small size</h1>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" class="input-small" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper size="small" component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper size="small" component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button</h2>
    <div we-input-wrapper size="small" component-position="left" class="custom">
        <a we-button icon="bell" size="tiny" color="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button</h2>
    <div we-input-wrapper size="small" component-position="right">
        <a we-button icon="cog" size="tiny" color="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <!-- Left tag: OK -->
    <h2>Input left tag</h2>
    <div we-input-wrapper size="small" component-position="left">
        <a we-button icon="calendar" size="small" color="danger"></a>
        <input type="text" placeholder="With left tag">
    </div>

    <!-- Right tag: OK -->
    <h2>Input right tag</h2>
    <div we-input-wrapper size="small" component-position="right">
        <a we-button icon="calendar" size="small" color="success"></a>
        <input type="text" placeholder="With right tag">
    </div>

    <h1>Tiny size</h1>

    <!-- Simple: OK -->
    <h2>Input</h2>
    <input type="text" class="input-tiny" placeholder="Simple input">

    <!-- Left icon: OK -->
    <h2>Input left icon</h2>
    <div we-input-wrapper size="tiny" component-position="left">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With left icon">
    </div>

    <!-- Right icon: OK -->
    <h2>Input right icon</h2>
    <div we-input-wrapper size="tiny" component-position="right">
        <we-icon icon="search" class="input-mark"></we-icon>
        <input type="text" placeholder="With right icon">
    </div>

    <!-- Left button: OK but you need to add styles in order to not overlap -->
    <h2>Input left button / tag</h2>
    <div we-input-wrapper size="tiny" component-position="left" class="custom">
        <a we-button icon="bell" size="tiny" color="danger">Example</a>
        <input type="text" placeholder="With left button">
    </div>

    <!-- Right button: OK -->
    <h2>Input right button / tag</h2>
    <div we-input-wrapper size="tiny" component-position="right">
        <a we-button icon="cog" size="tiny" color="success">Example</a>
        <input type="text" placeholder="With right button">
    </div>

    <h2>Popup</h2>
    <a we-button icon="heart" color="warning" we-open="test-popup-1">Open test popup</a>
    <div ng-controller="PopupController as popupCtrl">
        <div id="test-popup-1" we-popup>

          <div class="popup-title-bar">
            Título de popup

            <button class="popup-close" we-close></button>
          </div>

          <div class="popup-content">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Hola</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>

          <div class="popup-actions">
            <a we-button color="success" size="small" icon="check">Ejemplo</a>
            <a we-button color="danger" size="small" icon="bell">Acción</a>
          </div>
        </div>
    </div>

    <h2>Tabs</h2>
    <div we-tabset>
        <div we-tab icon="cog" heading="Djancarlo">
            Contenido 1
        </div>

        <div we-tab icon="bell" heading="Djancarlo 2">
            Contenido 2
        </div>
    </div>

    <h3>Ícono vertical</h3>
    <div we-tabset icon-position="above">
        <div we-tab icon="cog" heading="Djancarlo">
            Contenido 1
        </div>

        <div we-tab icon="bell" heading="Djancarlo 2">
            Contenido 2
        </div>
    </div>

    <h3>Solo ícono</h3>
    <div we-tabset icon-position="above">
        <div we-tab icon="cog">
            Contenido 1
        </div>

        <div we-tab icon="bell">
            Contenido 2
        </div>
    </div>

    <h1>Label</h1>
    <label>
        Etiqueta del input:
        <input type="date">
    </label>

    <label><input type="checkbox">Ejemplo</label>
    <label>Ejemplo:<input type="checkbox"></label>
    <label><input type="radio">Ejemplo</label>
    <label>Ejemplo:<input type="radio"></label>

    <h1>The Greed</h1>
    <h2>Responsive</h2>
    <div class="grid">
        <div class="row">
            <div class="col xs-12 m-6 l-4">
                <div class="box">a</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">b</div>
            </div>

            <div class="col xs-12 m-6 l-4">
                <div class="box">c</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">d</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">e</div>
            </div>

            <div class="col xs-12 m-6 l-4">
                <div class="box">f</div>
            </div>
        </div>
    </div>

    <h2>Offsets</h2>
    <div class="grid">
        <div class="row">
            <div class="col xs-12 m-6 l-4 off-m-6 off-l-8">
                <div class="box">a</div>
            </div>
            <div class="col xs-12 m-6 l-4">
                <div class="box">b</div>
            </div>

            <div class="col xs-12 m-6 l-4">
                <div class="box">c</div>
            </div>
        </div>
    </div>

    <h2>Autowidth</h2>
    <div class="grid">
        <div class="row">
            <div class="col">
                <div class="box">1</div>
            </div>
            <div class="col">
                <div class="box">2</div>
            </div>
            <div class="col">
                <div class="box">3</div>
            </div>
            <div class="col">
                <div class="box">4</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="box">1</div>
            </div>
            <div class="col">
                <div class="box">2</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="box">1</div>
            </div>
            <div class="col">
                <div class="box">2</div>
            </div>
            <div class="col">
                <div class="box">3</div>
            </div>
            <div class="col">
                <div class="box">4</div>
            </div>
            <div class="col">
                <div class="box">5</div>
            </div>
            <div class="col">
                <div class="box">6</div>
            </div>
            <div class="col">
                <div class="box">7</div>
            </div>
            <div class="col">
                <div class="box">8</div>
            </div>
        </div>
    </div>

    <h2>Horizontal alignment</h2>
    <div class="grid">
        <div class="row ">
            <div class="col xs-6">
                <div class="box">Start</div>
            </div>
        </div>

        <div class="row center-xs end-m start-l">
            <div class="col xs-6">
                <div class="box">Center</div>
            </div>
        </div>

        <div class="row center-l end-xs start-m">
            <div class="col xs-6">
                <div class="box">End</div>
            </div>
        </div>
    </div>

    <h2>Vertical alignment</h2>
    <div class="grid">
        <div class="ref row top-xs middle-m bottom-l">
            <div class="col">
                <div class="ref box">Ref</div>
            </div>

            <div class="col">
                <div class="box">Top</div>
            </div>
        </div>

        <div class="ref row middle-xs top-l bottom-m">
            <div class="col">
                <div class="ref box">Ref</div>
            </div>

            <div class="col">
                <div class="box">Middle</div>
            </div>
        </div>

        <div class="ref row bottom-xs middle-l top-m">
            <div class="col">
                <div class="ref box">Ref</div>
            </div>

            <div class="col">
                <div class="box">Bottom</div>
            </div>
        </div>
    </div>

    <h2>Distribution</h2>

    <h3>Around</h3>
    <div class="grid">
        <div class="ref row around-xs">
            <div class="col xs-3">
                <div class="box">A</div>
            </div>

            <div class="col xs-3">
                <div class="box">B</div>
            </div>

            <div class="col xs-3">
                <div class="box">C</div>
            </div>
        </div>
    </div>

    <h3>Between</h3>
    <div class="grid">
        <div class="ref row between-xs">
            <div class="col xs-3">
                <div class="box">A</div>
            </div>

            <div class="col xs-3">
                <div class="box">B</div>
            </div>

            <div class="col xs-3">
                <div class="box">C</div>
            </div>
        </div>
    </div>

    <h2>Full height frames</h2>
    <div we-fill-height debounce-wait="2000">
        <div class="ref grid frame">
            <div class="row">
                <div class="col xs-3">
                    <div class="box">A</div>
                </div>

                <div class="col xs-3">
                    <div class="box">B</div>
                </div>

                <div class="col xs-3">
                    <div class="box">C</div>
                </div>

                <div class="col xs-3">
                    <div class="box">D</div>
                </div>
            </div>
        </div>
    </div>

    <h1>ToLoad</h1>
    <div ng-controller="WeedButtonController as btnCtrl">
        <a class="button button-success" we-toload="btnCtrl.testFunctionToLoad()" loading-class="loading">Ejemplo {{ loading }}</a>
    </div>

    <h1>Auth</h1>
    <div ng-controller="WeedAuthController as authCtrl">
        <a we-button color="success" icon="check" ng-click="authCtrl.login()">Login</a>
        <a we-button color="warning" icon="refresh" ng-click="authCtrl.refreshToken()">Token</a>
        <a we-button color="info" icon="heart" ng-click="authCtrl.testPost()">POST</a><br>
    </div>

    <h1>Corner notifications</h1>
    <div ng-controller="NotificationController as ctrl">
        <a we-button color="info" icon="bell" we-open="main-notification">Open notification</a>
        <a we-button color="warning" icon="times" we-close="main-notification">Close notification</a>
        <a we-button color="danger" icon="cog" ng-click="ctrl.sendNotification()">Create notification</a>
    </div>

    <div
        we-corner-notification
        id="main-notification"
        timeout="4000"
        color="success"
        icon="bell"
        text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quo officiis."></div>

    <h1>User cards</h1>

    <h2>Normal size</h2>
    <div class="user-card">
        <img class="picture" src="https://33.media.tumblr.com/avatar_025387c4da6f_128.png">

        <div class="data">
            <div class="name">Samuel Alfredo Chávez</div>
            <div class="extra-data">Knight of Cydonia</div>
            <div class="email">schavezfuentes@gmail.com</div>
        </div>
    </div>

    <h2>Compressed</h2>
    <div class="user-card compress">
        <img class="picture" src="https://33.media.tumblr.com/avatar_025387c4da6f_128.png">

        <div class="data">
            <div class="name">Samuel Alfredo Chávez</div>
            <div class="extra-data">Knight of Cydonia</div>
            <div class="email">schavezfuentes@gmail.com</div>
        </div>
    </div>

    <h1>Tags</h1>

    <h2>Normal size</h2>
    <span class="tag">Hola</span>
    <span class="tag tag-primary">Hola</span>
    <span class="tag tag-info">Hola</span>
    <span class="tag tag-success">Hola</span>
    <span class="tag tag-danger">Hola</span>
    <span class="tag tag-warning">Hola</span>
    <span class="tag tag-inverted">Hola</span>

    <h2>Small</h2>
    <span class="tag tag-small">Hola</span>
    <span class="tag tag-small tag-primary">Hola</span>
    <span class="tag tag-small tag-info">Hola</span>
    <span class="tag tag-small tag-success">Hola</span>
    <span class="tag tag-small tag-danger">Hola</span>
    <span class="tag tag-small tag-warning">Hola</span>
    <span class="tag tag-small tag-inverted">Hola</span>

    <h2>large</h2>
    <span class="tag tag-large">Hola</span>
    <span class="tag tag-large tag-primary">Hola</span>
    <span class="tag tag-large tag-info">Hola</span>
    <span class="tag tag-large tag-success">Hola</span>
    <span class="tag tag-large tag-danger">Hola</span>
    <span class="tag tag-large tag-warning">Hola</span>
    <span class="tag tag-large tag-inverted">Hola</span>

    <h2>xlarge</h2>
    <span class="tag tag-xlarge">Hola</span>
    <span class="tag tag-xlarge tag-primary">Hola</span>
    <span class="tag tag-xlarge tag-info">Hola</span>
    <span class="tag tag-xlarge tag-success">Hola</span>
    <span class="tag tag-xlarge tag-danger">Hola</span>
    <span class="tag tag-xlarge tag-warning">Hola</span>
    <span class="tag tag-xlarge tag-inverted">Hola</span>

    <h1>Bubble</h1>
    <div style="background: #ccc; padding: 20px;">
        <div class="bubble">
            <div class="inner-title">
                <h2>Título de ejemplo</h2>

                <div class="main-action">
                    <a we-button color="success" icon="cog" size="small">Acción</a>
                </div>
            </div>

            <div class="inner-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur doloremque quam distinctio voluptate quibusdam repudiandae ad aspernatur alias, numquam, dolorem optio modi expedita, illo recusandae harum itaque delectus cumque facilis.</p>
            </div>
        </div>
    </div>

    <h1>Data table</h1>
    <table class="data-table clear-background">
        <tr>
            <th>Head 1</th>
            <th>Head 2</th>
            <th>Head 3</th>
            <th>Head 4</th>
            <th>Head 5</th>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <a we-button icon="cog" size="tiny" color="info"></a>
                <a we-button icon="bell" size="tiny" color="danger"></a>
                <a we-button icon="check" size="tiny" color="success"></a>
            </td>
        </tr>
    </table>

    <h1>Dynamic grid</h1>
    <div class="dynamic-table vertical sortable sort-stages">
        <div class="dynamic-table-row">
            <div class="element title handle">
                <div class="small up">
                    Nivel
                </div>
                <div class="big ordinal">
                    1
                </div>
            </div>

            <div class="separator"></div>

            <div class="element one-liner">
                <a>Primero</a>
            </div>

            <div class="separator"></div>

            <div class="element user">
                <a>
                    <img class="picture" src="http://placehold.it/50x50">
                </a>

                <span class="data">
                    <a class="name">Samuel Chávez</a>
                    <span class="role">Administrador</span>
                </span>
            </div>

            <div class="element pull-right">
                <a we-button size="small" icon="book" color="success">Grados</a>
                <a we-button size="small" icon="book" color="danger">Maestros</a>
            </div>
        </div>

        <div class="dynamic-table-row">
            <div class="element dynamic-table-row-tag" style="background: #900;"></div>

            <div class="separator"></div>

            <div class="element one-liner">
                <a>Primero</a>
            </div>

            <div class="separator"></div>

            <div class="element user">
                <a>
                    <img class="picture" src="http://placehold.it/50x50">
                </a>

                <span class="data">
                    <a class="name">Samuel Chávez</a>
                    <span class="role">Administrador</span>
                </span>
            </div>

            <div class="element pull-right">
                <a we-button size="small" icon="book" color="success">Grados</a>
                <a we-button size="small" icon="book" color="danger">Maestros</a>
            </div>
        </div>

        <div class="dynamic-table-row">
            <div class="element dynamic-table-row-tag iconned" style="background: #090;">
                <div class="bg-icon">
                    <we-icon icon="cog"></we-icon>
                </div>
            </div>

            <div class="separator"></div>

            <div class="element one-liner">
                <a>Primero</a>
            </div>

            <div class="separator"></div>

            <div class="element user">
                <a>
                    <img class="picture" src="http://placehold.it/50x50">
                </a>

                <span class="data">
                    <a class="name">Samuel Chávez</a>
                    <span class="role">Administrador</span>
                </span>
            </div>

            <div class="element pull-right">
                <a we-button size="small" icon="book" color="success">Grados</a>
                <a we-button size="small" icon="book" color="danger">Maestros</a>
            </div>
        </div>
    </div>

    <h1>List</h1>

    <h2>Simple</h2>
    <ul we-list>
        <li class="list-item">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Simple with components</h2>

    <ul we-list component-position="right">
        <li class="list-item">
            <p class="item-text">Item 1</p>
            <a we-button icon="cog" color="success">Example</a>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
            <div class="multi-component">
                <a we-button icon="cog" color="success" class="mid"></a>
                <a we-button icon="cog" color="primary" class="mid"></a>
                <a we-button icon="cog" color="danger" class="mid"></a>
            </div>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
            <div class="multi-component">
                <a we-button icon="cog" color="info"></a>
                <a we-button icon="cog" color="warning" class="mid"></a>
            </div>
        </li>
    </ul>
    <ul we-list component-position="right">
        <li class="list-item">
            <p class="item-text">Item 1</p>
            <a we-button icon="cog" color="success">Example</a>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
            <div class="multi-component">
                <a we-button icon="cog" color="success" class="mid"></a>
                <a we-button icon="cog" color="primary" class="mid"></a>
                <a we-button icon="cog" color="danger" class="mid"></a>
            </div>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
            <div class="multi-component">
                <a we-button icon="cog" color="info"></a>
                <a we-button icon="cog" color="warning" class="mid"></a>
            </div>
        </li>
    </ul>

    <h2>Small</h2>
    <ul we-list size="small">
        <li class="list-item">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Tiny</h2>
    <ul we-list size="tiny">
        <li class="list-item">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Clickable</h2>
    <ul we-list>
        <li class="list-item">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Clickable Small</h2>
    <ul we-list size="small">
        <li class="list-item">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Clickable Small with components</h2>
    <ul we-list size="small" component-position="right">
        <li class="list-item">
            <p class="item-text">Item 1</p>
            <a we-button size="small" icon="cog" color="success">Example</a>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
            <div class="multi-component">
                <a we-button icon="cog" color="success" size="small" class="mid"></a>
                <a we-button icon="cog" color="primary" size="small" class="mid"></a>
                <a we-button icon="cog" color="danger" size="small" class="mid"></a>
            </div>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
            <div class="multi-component">
                <a we-button icon="cog" color="info" size="small"></a>
                <a we-button icon="cog" color="warning" size="small" class="mid"></a>
            </div>
        </li>
    </ul>

    <h2>Clickable Tiny</h2>
    <ul we-list size="tiny">
        <li class="list-item selectable">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Selectable</h2>
    <ul we-list selectable>
        <li class="list-item">
            <p class="item-text">Item 1</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 2</p>
        </li>
        <li class="list-item">
            <p class="item-text">Item 3</p>
        </li>
    </ul>

    <h2>Contextual list</h2>
    <div we-list>
        <a href="" class="list-item list-item-primary">
            <p class="item-text">Primary</p>
        </a>
        <a href="" class="list-item list-item-success">
            <p class="item-text">Success</p>
        </a>
        <a href="" class="list-item list-item-info">
            <p class="item-text">Information</p>
        </a>
        <a href="" class="list-item list-item-warning">
            <p class="item-text">Warning</p>
        </a>
        <a href="" class="list-item list-item-danger">
            <p class="item-text">Danger</p>
        </a>
    </div>

    <h2>Typeahead</h2>
    <div class="row" ng-controller="TypeaheadController as typeCtrl">
      <div class="col xs-12">
        <input type="text" ng-model="typeCtrl.selected" placeholder="Escribir el nombre de un estado..."
        uib-typeahead="state for state in typeCtrl.states | filter:$viewValue | limitTo:8">
      </div>
    </div>
    <h2>Tooltip</h2>
    <div class="row">
      <div class="col xs-12">
        <button tooltip-placement="top" uib-tooltip="tooltip" type="button">Tooltip top</button>
      </div>
    </div>
    <h2>Popover</h2>
    <div class="row">
      <div class="col xs-12">
        <button uib-popover="Hello, World!" popover-title="Title" type="button">Dynamic Popover</button>      </div>
    </div>
    <h2>Bubble Menu</h2>
    <div class="bubble-menu">
      <h4 class="bubble-menu-tittle">Title</h4>
      <div class="bubble-menu-nav">
        <ul class="bubble-menu-list">
          <li>
            <a>
              <we-icon icon="cog" class="bubble-menu-icon"></we-icon>
              <span>
                A
              </span>
            </a>
          </li>
          <li>
            <a>
              <we-icon icon="chevron-circle-right" class="bubble-menu-icon"></we-icon>
              <span>
                B
              </span>
            </a>
          </li>
          <li>
            <a>
              <we-icon icon="comment" class="bubble-menu-icon"></we-icon>
              <span>
                C
              </span>
            </a>
          </li>
        </ul>
      </div>
      <hr class="bubble-menu-hr">
      <div class="bubble-menu-section">
        <h4 class="bubble-menu-tittle">Subcategory</h4>
        <p class="bubble-menu-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec tristique neque, egestas vestibulum est. Duis sagittis tempus enim sit amet semper. Praesent aliquet urna ex, a viverra sapien dapibus sodales.
        </p>
      </div>
    </div>
    <h2>Custom Cards</h2>
    <div class="card">
      <img class="picture" src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Divider
      </div>
      <div class="card-section">
        <h4 class="card-tittle">Title</h4>
        <p class="card-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec tristique neque, egestas vestibulum est. Duis sagittis tempus enim sit amet semper. Praesent aliquet urna ex, a viverra sapien dapibus sodales.
        </p>
      </div>
      <hr class="card-hr">
      <div class="card-footer">
        <img class="picture-footer" src="https://33.media.tumblr.com/avatar_025387c4da6f_128.png">
        <span class="text-footer">Lorem ipsum dolor</span>
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- Dev scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="/dist/assets/js/weed.js"></script>
    <script src="/dist/assets/js/templates.js"></script>
    <script>
        (function(angular){
            'use strict';

            angular
                .module('weed.test', ['weed', 'ngAnimate'])
                .config(weedConfig)
                .controller('WeedButtonController', weedButtonCtrl)
                .controller('WeedAuthController', weedAuthController)
                .controller('PopupController', popupController)
                .controller('NotificationController', notificationController)
                .factory("States", function(){
                  var states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Dakota", "North Carolina", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];
                  return states;
                })
                .controller('TypeaheadController',typeaheadController)
                .run(weedRun);

            // Dependencies
            weedConfig.$inject = ['$httpProvider'];
            weedRun.$inject = ['weedJWTAuthService'];
            weedButtonCtrl.$inject = ['$scope', '$q', '$timeout'];
            weedAuthController.$inject = ['$scope', 'weedJWTAuthService', '$http'];
            popupController.$inject = ['WeedApi'];
            notificationController.$inject = ['WeedApi'];
            typeaheadController.$inject = ['WeedApi','States'];

            function typeaheadController(WeedApi, States){
              var vm = this;
              vm.states = States;
            }
            function notificationController(WeedApi){
                var vm = this;

                vm.sendNotification = function(){
                    WeedApi.publish('main-notification', {
                        text: 'jajaja',
                        color: 'error',
                        icon: 'cog',
                        timeout: 2000
                    })
                }
            }

            function popupController(WeedApi){
                var vm = this;

                vm.closeActiveElements = function(){
                    WeedApi.closeActiveElements();
                }
            }

            // Test module http configuration
            function weedConfig($httpProvider){
                $httpProvider.interceptors.push('weedJWTInterceptor');
            }

            // Test module initial JWT setup
            function weedRun(weedJWTAuthService){
                weedJWTAuthService.addNewApi({
                    id: 'finance',
                    url: 'http://127.0.0.1:8000',
                    autoRefresh: {
                        enabled: true,
                        timeDelta: 290
                    }
                });

                weedJWTAuthService.addNewApi({
                    id: 'finance2',
                    url: 'http://127.0.0.2:8000'
                });

                weedJWTAuthService.addNewApi({
                    id: 'finance3',
                    url: 'http://127.0.0.3:8000'
                });
            }

            // Test button controller
            function weedButtonCtrl($scope, $q, $timeout){
                var vm = this;

                vm.testFunctionToLoad = function() {
                    var defer = $q.defer(),
                        promise;

                    // Mock
                    $timeout(function(){
                        if(Math.round(Math.random())){
                            defer.resolve("resolved");
                        }
                        else {
                            defer.reject("rejected");
                        }
                    }, 2000);

                    // Get promise
                    promise = defer.promise;

                    promise.then(
                        function(){
                            // TODO: local code to handle success
                        },
                        function(){
                            // TODO: local code to handle failure
                        }
                    );

                    return promise;
                }
            };

            // Test auth controller
            function weedAuthController($scope, weedJWTAuthService, $http){
                var vm = this;

                vm.add = function(a, b){
                    console.log("llega mula");
                    return a + b;
                }

                vm.login = function(){
                    var r = weedJWTAuthService.login(
                        'finance',
                        {
                            email: 'root@root.com',
                            password: 'root'
                        }
                    );

                    r.error(function(d){
                        console.log("Error: ");
                        console.dir(d);
                    }).success(function(d){
                        console.log("Success: ");
                        console.log(localStorage);
                        console.log(weedJWTAuthService.getUser('finance'));
                    });
                }

                vm.refreshToken = function(){
                    var r = weedJWTAuthService.refreshToken('finance');
                    r.error(function(d){
                        console.log("Error: ");
                        console.log(d);
                    }).success(function(d){
                        console.log("Success: ");
                        console.log(localStorage);
                        console.log(weedJWTAuthService.getUser('finance'));
                    });
                }

                vm.testPost = function(){
                    $http.get('http://127.0.0.1:8000/user/');
                }
            }
        })(angular);
    </script>
    </body>
</html>