<ul ng-class="
    {
        'list' : true,
        'selectable': list.selectable !== undefined,
        'clickable': list.clickable !== undefined,
        'list-normal': list.size === undefined,
        'list-small': list.size=='small',
        'list-large': list.size=='large',
        'list-tiny': list.size=='tiny',

        'loffset-50': list.leftIcon !== undefined,
        'roffset-50': list.rightIcon !== undefined,

        'component-position-right' : list.componentPosition === 'right',
        'component-position-left' : list.componentPosition === 'left'
    }"
    ng-transclude>
</ul>