/**
  * Edoo form framework
  * Depends on:
  * - messages.less
  * - popup.less
  * - buttons.less
  */

// Configurations
@form-font-family:                        @font-family-base;
@form-font-size:                          1em;

@system-default-background-color:         @black-10;

@images-path: @system-images-path;

// Input
@form-focus-shadow-color:                 rgba(27, 155, 224, 0.6);
@form-focus-border-color:                 @system-base-color;
@form-input-background-color:             @black-5;
@form-input-border-color:                 @black-15;
@input-mark-color:                   @black-15;
@form-input-placeholder-color:            lighten(@form-input-text-color, 25%);
@input-tag-background-color:         @black-5;
@input-tag-text-color:               @black-15;
@form-input-text-color:                   @black-35;
@form-label-color:                        @black-60;
@form-label-shadow-color:                 @white;
@input-tag-gradient-start:           fadeout(@white, 92%);
@input-tag-gradient-end:             fadeout(#c2c2c2, 92%);
@form-input-toolbar-border-color: #eee;
@form-input-toolbar-file-label-color: #aaa;


@form-input-toolbar-height: 40px;

@form-label-vertical-margin:              23px;

// Form jslider
@form-jslider-background-color:           @black;
@form-jslider-text-color:                 @white;

@form-jslider-height:                     32px;
@form-jslider-border-radius:              5px;

@form-jslider_small-sprites:                    none;
@form-jslider_small-background-color:           @black-5;
@form-jslider_small-pointer-background:         @black-10;
@form-jslider_small-background-border-color:    @black-10;
@form-jslider_small-range-color:                @system-base-color;
@form-jslider_small-glow-color:                 @white;
@form-jslider-wrapper-background:               @white;
@form-jslider-wrapper-border-color:             @black;
@form-jslider-controls-color:                   @black;

@form-jslider-controls-height:                  38px;
@form-jslider-controls-width:                   35px;
@form-jslider-wrapper-padding:                  4px 6px;
@form-jslider-wrapper-with-controls-padding:    4px 40px;
@form-jslider_small-border-radius:              @system-border-radius/2.0;
@form-jslider_small-height:                     24px;
@form-jslider_small-pointer-width:              17px;


@form-focus-shadow-definition:            0px 0px 5px 1px;
@form-focus-transition-time:              150ms;
@form-input-border-radius:                @system-border-radius;
@form-input-height:                       53px;
@form-input-small-height:                 41px;
@form-input-tiny-height:                  28px;
@form-input-horizontal-padding:           25px;
@input-tag-width:                    55px;
@form-input-vertical-padding:             5px;

// Toggler
@form-toggler-wrapper-background-color:   @black-10;
@form-toggler-wrapper-border-color:       @form-input-border-color;

@form-toggler-wrapper-check-radius:       0.2em;
@form-toggler-wrapper-horizontal-margin:  5px;
@form-toggler-wrapper-horizontal-padding: 2px;
@form-toggler-wrapper-radio-radius:       2em;
@form-toggler-wrapper-vertical-padding:   1px;

@form-select2-z-index:                    @popup-z-index + 1;

// Dropdown
@form-dropdown-background-color:                fadeout(@black-5, 5%);
@form-dropdown-border-color:                    @black-15;
@form-dropdown-text-color:                      @black-55;
@form-dropwdown-item-hover-background-color:    @system-base-color;
@form-dropwdown-item-hover-text-color:          @white;
@form-dropdown-arrow-color:                     @black;
@form-dropdown-arrow-shadow-color:              @white;
@form-dropdown-up-arrow-char:                   "\f078";
@form-dropdown-down-arrow-char:                 "\f077";
@form-dropdown-gradient-start:                  fadeout(@white, 95%);
@form-dropdown-gradient-end:                    fadeout(@black, 95%);
@form-dropdown-reflex-color:                    fadeout(@white, 50%);
@form-dropdown-drop-background-color:           @white;
@form-dropdown-shadow-color:                    rgba(93, 93, 93, 0.18);

@form-dropdown-border-radius:                   5px;
@form-dropdown-horizontal-padding:              20px;
@form-dropdown-arrow-container-width:           48px;
@form-dropdown-arrow-size:                      18px;

// Password strength indicator
@form-password-strength-0-color:              @system-danger-color;
@form-password-strength-10-color:             @system-danger-color;
@form-password-strength-20-color:             @system-danger-color;
@form-password-strength-30-color:             @system-danger-color;
@form-password-strength-40-color:             @system-warning-color;
@form-password-strength-50-color:             @system-warning-color;
@form-password-strength-60-color:             @system-warning-color;
@form-password-strength-70-color:             @system-info-color;
@form-password-strength-80-color:             @system-info-color;
@form-password-strength-90-color:             @system-success-color;
@form-password-strength-100-color:            @system-success-color;
@form-password-strength-background-color:     @black-10;
@form-password-strength-label-color:          @black;

@form-password-strength-vertical-spacing:     10px;
@form-password-strength-border-radius:        10px;
@form-password-strength-height:               10px;

// Form input message
@form-input-message-danger-background-color:       lighten(@system-danger-color, 45%);
@form-input-message-danger-text-color:             desaturate(darken(@message-danger-background-color, 25%), 20%);
@form-input-message-default-background-color:      lighten(@system-default-color, 10%);
@form-input-message-default-text-color:            darken(@message-default-background-color, 25%);
@form-input-message-info-background-color:         lighten(@system-primary-color, 45%);
@form-input-message-info-text-color:               darken(@message-info-background-color, 25%);
@form-input-message-inverted-background-color:     lighten(@system-default-color, 5%);
@form-input-message-inverted-text-color:           darken(@message-default-background-color, 25%);
@form-input-message-primary-background-color:      lighten(@system-primary-color, 50%);
@form-input-message-primary-text-color:            darken(@message-primary-background-color, 25%);
@form-input-message-success-background-color:      lighten(@system-success-color, 50%);
@form-input-message-success-text-color:            darken(@message-success-background-color, 25%);
@form-input-message-warning-background-color:      lighten(@system-warning-color, 40%);
@form-input-message-warning-text-color:            desaturate(darken(@message-warning-background-color, 25%), 25%);
@form-input-message-font-family:                   sans-serif;

// Typeahead
@form-typeahead-background-color: @white;
@form-typeahead-dropdown-border-color: @black-30;
@form-typeahead-dropdown-shadow-color: @black-30;
@form-typeahead-font-family: sans-serif;
@form-typeaheaded-background-color: @white;

@form-typeahead-user-border-color: @black-25;
@form-typeahead-user-name-color: @black;
@form-typeahead-user-role-color: @black-60;

@form-typeahead-user-placeholder-border-color: @black-25;
@form-typeahead-user-placeholder-name-color: @black;
@form-typeahead-user-placeholder-role-color: @black-60;

@form-typeahead-hover-color: @system-base-color;
@form-typeahead-hover-user-border-color: darken(@system-base-color, 5%);
@form-typeahead-hover-user-name-color: @black;
@form-typeahead-hover-user-role-color: @black-60;

@form-typeahead-suggestion-height: 54px;
@form-typeahead-suggestion-padding: 0 25px;

@form-typeahead-user-expected-height: 38px;
@form-typeahead-user-picture-margin-right: 13px;
@form-typeahead-user-picture-size: 32px;

@form-typeahead-user-placeholder-data-max-width: 145px;
@form-typeahead-user-placeholder-expected-height: 38px;
@form-typeahead-user-placeholder-picture-margin-right: 13px;
@form-typeahead-user-placeholder-picture-size: 32px;

@form-input-message-vertical-spacing:              5px;
@form-input-message-border-radius:                 5px;
@form-input-message-default-width:                 250px;

@form-focus-background-color:                      @black-5;

@form-inline-editable-placeholder-hover-color:     @black-5;

// TODO v1.0
@form-input-error-border-color: #F8A5A5;
@form-input-error-text-color: @form-input-text-color;

// Specific mixins
.make-form-input-message(@background-color; @text-color){
  background-color: @background-color;
  border-color: darken(@background-color, 5%);
  color: @text-color;
  font-family: @form-input-message-font-family;
  font-size: 1em;
  .qtip-titlebar{
    background-color: darken(@background-color, 30%);
    color: lighten(@background-color, 30%);
  }
  .qtip-content{
    padding: @form-input-horizontal-padding;
  }
}

.adjust-input-wrapper-size(@new-height:@form-input-height; @new-padding:@form-input-horizontal-padding; @new-textarea-vertical-padding: 0){
  height: @new-height !important;

  &.area{
    height: auto !important;
  }

  input,
  .fake-result{
    height: (@new-height - 2*@form-input-vertical-padding - 2) !important;
    // line-height: (@new-height - 2*@form-input-vertical-padding - 2) !important;
    padding: 0 @new-padding;
  }

  .fake-result{
    line-height: (@new-height - 2*@form-input-vertical-padding - 2) !important;
  }

  input[type="file"]{
    height: (@new-height - 2px) !important;
    // line-height: (@new-height - 2px) !important;
    margin-top: -1*@form-input-vertical-padding;
  }

  textarea{
    padding: @new-textarea-vertical-padding @new-padding !important;
  }

  &.placeholded{

    label{
      height: (@new-height - 2*@form-input-vertical-padding - 2);
      left: @new-padding;
      line-height: (@new-height - 2*@form-input-vertical-padding - 2);
    }
  }

  &.typeaheaded{
    .datum-placeholder{
      padding: 0 @new-padding;

      &.user{
        .picture-container{
          img.picture{
            .vertical-center(@new-height - 2; @form-typeahead-user-placeholder-picture-size);
          }
        }

        // User name
        .data{
          .vertical-center(@new-height - 2; @form-typeahead-user-placeholder-expected-height);
        }
      }
    }
  }

  // Special components

    // Internal button
  .button{
    height: @new-height - (2*@form-input-vertical-padding) - 2px - 2px;
    line-height: @new-height - (2*@form-input-vertical-padding) - 2px - 2px;
  }

    // Input mark (icon)
  i.input-mark{
    line-height: @new-height;
    font-style: normal;
    padding: 0 (@new-padding / 2.0);
  }

    // Input tag (icon within button)
  .input-tag{
    height: (@new-height - 2px);
    // padding: 0 @new-padding;

    i{
      line-height: (@new-height - 2px);
    }
  }

  .tt-dropdown-menu{
    margin-top: @new-height - @form-input-vertical-padding;
  }
}

.adjust-select-size(@new-height:@form-input-height; @new-arrow-position: 8px; @new-padding:@form-dropdown-horizontal-padding){

  .select2-arrow{
    padding: 0 (@new-padding/2.0);
  }

  .select2-choice{
    height: @new-height - 2px;
    line-height: @new-height - 2px;
    padding-left: @new-padding;

    .select2-arrow{
      b{
        background-position-y: @new-arrow-position !important;
      }
    }
  }
}

// Main class
&.horizontal{
  .clearfix();

  & > *{
    float: left;
  }
}

.redactor-box{
  .border-radius(@system-border-radius);
  float: none;
  max-width: none;

  .redactor-box{
    .border-radius(0 0 @system-border-radius @system-border-radius);
    padding: 10px 20px;
  }

  .redactor-toolbar{
    padding: 0 10px !important;
    height: 50px;
    border: 1px solid #d9d9d9;
    background: #f6f6f6;
    .border-radius(@system-border-radius @system-border-radius 0 0);
    .box-shadow(none);

    li a{
      color: #7a7a7a;
      padding: 18px 15px;

      &:hover{
        background: #868686;
        color: @white;
      }
    }
  }

  .redactor-editor{
    border-top: none;
    .border-radius(0 0 @system-border-radius @system-border-radius);
  }
}

input[type="button"]{
  cursor: pointer !important;
}

// Input reset
input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="week"],
textarea,
.fake-result{
  .box-sizing(border-box);
  .placeholder(@form-input-placeholder-color);
  background: none;
  border: none;
  border-radius: @system-border-radius;
  color: @form-input-text-color;
  display: inline-block;
  font-family: @form-font-family;
  font-size: 14px;
  margin-bottom: @element-vertical-margin;
  padding: 0 @form-input-horizontal-padding;
  width: 100%;

  // Disabled state
  &[disabled="disabled"]{
    .placeholder(lighten(@form-input-placeholder-color, 2%));
  }
}

// Input styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"]{
  background: @form-input-background-color;
  border: 1px solid @form-input-border-color;
  height: (@form-input-height - 2);
}

textarea{
  background: @form-input-background-color;
  border: 1px solid @form-input-border-color;
}

// Sizes

// Input small
input.input-small, .input-wrapper.input-small input{
  height: (@form-input-small-height - 2);
}

// Area small
textarea.input-small, .input-wrapper.input-small textarea{
  height: 85px;
  padding-bottom: @element-vertical-margin/2.0;
  padding-top: @element-vertical-margin/2.0;
}

// Input tag
.input-wrapper.input-small{
  .input-tag{
    height: (@form-input-small-height);
    line-height: (@form-input-small-height);
    width: @input-tag-width - 10px;

    i{
      line-height: (@form-input-small-height - 2px);
    }
  }

  i.input-mark{
    left: 24px;
    line-height: @form-input-small-height;
  }

  .button{
    &.button-small{
      top: 0;
      left: 0;
    }

    &.button-tiny{
      left: (@form-input-vertical-padding*1.4);
      top: (@form-input-small-height - @button-tiny-height - 2)/2.0;
    }
  }
}

// Tiny
input.input-tiny, textarea.input-tiny, .input-wrapper.input-tiny input, .input-wrapper.input-tiny textarea{
  border-radius: @form-input-border-radius/2.0;
  font-size: 11px;
  height: (@form-input-tiny-height - 2);
  padding: 0 @form-input-horizontal-padding/2.0;
}

.input-wrapper.input-tiny{
  border-radius: @form-input-border-radius/2.0;

  .button.button-tiny{
    left: 0;
    top: 0;
  }

  .input-tag{
    border-radius: @system-border-radius/2.0;
    height: (@form-input-tiny-height);
    line-height: 25px;
    width: @input-tag-width - 24px;

    i{
      line-height: inherit;
      font-size: 14px;
    }
  }

  i.input-mark{
    font-size: 0.8em;
    left: 15px;
    line-height: @form-input-tiny-height;
  }
}

// Input wrapper utility for buttons and floats
.input-wrapper{
  .border-radius(@form-input-border-radius);
  .box-sizing(border-box);
  .transition(background @form-focus-transition-time, border @form-focus-transition-time;);
  .bevel(@system-default-background-color);
  background: @form-input-background-color;
  border: 1px solid @form-input-border-color;
  display: inline-block;
  // overflow: hidden; // TODO: test this
  margin-bottom: @element-vertical-margin;
  position: relative;
  width: 100%;

  // Reset inputs inside input-wrapper
  input,
  textarea,
  .fake-result{
    background: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  // Events

  // Hover
  &:hover, &.hover{
    background: lighten(@form-input-background-color, 20%);
  }

  // Focus
  &:focus, &.focus{
    background: @form-focus-background-color;
    z-index: (@z-immediate-over + 1);
    border-color: @form-focus-border-color;
  }

  // Incrusted form states
  &.incrusted{
    .border-radius(0);
    border-top: none;

    // closing top position
    &.close-top{
      border-top: 1px solid @form-input-border-color;
      .border-radius(@form-input-border-radius @form-input-border-radius 0 0);
    }

    &.close-bottom{
      .border-radius(0 0 @form-input-border-radius @form-input-border-radius);
      border-top: none;
    }
  }

  // Input wrapper toolbar
  .input-wrapper-toolbar{
    background: white;
    border-top: 1px solid @form-input-toolbar-border-color;
    height: @form-input-toolbar-height;
    line-height: @form-input-toolbar-height;
    padding: 0 @element-vertical-margin*1.5 0 0;

    .tools{
      float: left;
      height: 100%;

      .file-label{
        color: @form-input-toolbar-file-label-color;
        vertical-align: middle;
      }

      .button{
        .vertical-center(@form-input-toolbar-height, @button-small-height - 1px);
        position: relative;
        height: @button-small-height - 1px;
        line-height: @button-small-height - 2px;
        top: auto;
        font-size: 14px;
        left: auto;
        vertical-align: middle;

        &.clear-element{
          font-size: 10px;

          i{
            color: darken(@button-default-color, 20%);
          }
        }

        &:last-child{
          right: auto;
        }

        &:hover{
          i{
            color: darken(@button-default-color, 50%);
          }
        }
      }
    }
  }

  // Horizontal incrusted input states
  &.left-end{
    .border-radius(@form-input-border-radius 0 0 @form-input-border-radius);
    border-right: none;
    width: 50%;
    float: left;
  }

  &.right-end{
    .border-radius(0 @form-input-border-radius @form-input-border-radius 0);
    width: 50%;
    float: left;

    &.input-wrapper-focussed{
      border-left-color: @form-focus-border-color;
    }
  }

  &.clear{
    background: none;
    border:none;
  }

  // File upload control
  &.file-upload{
    position:relative;

    .fake-result{
      .ellipsis();
      display: inline-block;
      height: (@form-input-height - 2*@form-input-vertical-padding - 2);
      line-height: (@form-input-height - 2*@form-input-vertical-padding - 2);
    }

    input[type="file"]{
      .opacity(0);
      font-size: 0;
      cursor: pointer;
      display:block;
      padding: 0 !important;
      position: relative;
      top: 0;
      width:100%;
      z-index: @z-front;
      height: 100%;

      *{
        cursor: pointer;
      }
    }
  }

  // Special components

  // Buttons
  .button{
    left: 0;
                                                           // External border, own border
    margin: 0;
    position: absolute;
    z-index: (@z-immediate-over + 2);

    &.button-small{
      left: (@form-input-vertical-padding*1.4);
      top: (@form-input-height - @button-small-height - 2)/2.0;
    }

    &.button-tiny{
      left: (@form-input-vertical-padding*2.5);
      top: (@form-input-height - @button-tiny-height - 2)/2.0;
    }

    i{
      font-size: 1.2em;
    }
  }

  // Marks
  i.input-mark{
    .user-select(none);
    color: @input-mark-color;
    left: (@form-input-horizontal-padding + 5px);
    line-height: @form-input-height;
    position: absolute;
    top: -1px;
    z-index: (@z-immediate-over + 2);
  }

  // Tags
  .input-tag{
    .user-select(none);
    border-radius: @form-input-border-radius 0 0 @form-input-border-radius;
    color: @input-tag-text-color;
    cursor: pointer;
    height: (@form-input-height);
    left: -1px;
    line-height: inherit;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -1px;
    width: @input-tag-width;
    z-index: (@z-immediate-over + 2);

    i{
      line-height: (@form-input-height - 2px);
      margin-right: 0 !important;
    }
  }

  // Marker
  .form-input-inside-marker{
    color: lighten(@form-input-text-color, 25%);
    height: (@form-input-height - 2px);
    line-height: (@form-input-height - 2px);
    position: absolute;
    top: 0;
    padding: 0 5px 0 @form-input-horizontal-padding;

    &:first-child{
      left: 0;
    }

    &:last-child{
      right: 0;
    }
  }

  // Password strength
  .password-strength-wrapper{
    bottom: -1px;
    left: -1%;
    margin: 0;
    position: absolute;
    width: 102%;
  }

  // Component positions

  // Component position left: default
  &.component-position-left{
    input{
      padding-left: 70px;
    }

    .button{
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      &.button-small{
        border-bottom-right-radius: @system-border-radius;
        border-top-right-radius: @system-border-radius;
      }

      &.button-tiny{
        border-bottom-right-radius: @system-border-radius/2.0;
        border-top-right-radius: @system-border-radius/2.0;
      }
    }

    &.input-small{
      input{
        padding-left: 60px;
      }

      .button{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;

        &.button-tiny{
          border-bottom-right-radius: @system-border-radius/2.0;
          border-top-right-radius: @system-border-radius/2.0;
          left: (@form-input-vertical-padding*1.4);
        }
      }
    }

    &.input-tiny{
      input{
        padding-left: 40px;
      }

      .button.button-tiny{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  // Component position right
  &.component-position-right{
    input{
      padding-right: 70px;
    }

    .button{
      left: auto;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;

      &.button-small{
        border-bottom-left-radius: @system-border-radius;
        border-top-left-radius: @system-border-radius;
        right: (@form-input-vertical-padding*1.4);
      }

      &.button-tiny{
        border-bottom-left-radius: @system-border-radius/2.0;
        border-top-left-radius: @system-border-radius/2.0;
        right: (@form-input-vertical-padding*2.5);
      }
    }

    i.input-mark{
      left: auto;
      right: (@form-input-horizontal-padding + 5px);
    }

    // Must happen after .button
    .input-tag{
      .border-radius(0 @form-input-border-radius @form-input-border-radius 0);
      left: auto;
      right: -1px;
    }

    &.input-small{
      input{
        padding-right: 60px;
      }

      .button{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        &.button-small{
          left: auto;
          right: 0;
        }

        &.button-tiny{
          border-bottom-left-radius: @system-border-radius/2.0;
          border-top-left-radius: @system-border-radius/2.0;
          left: auto;
          right: (@form-input-vertical-padding*1.4);
        }
      }

      i.input-mark{
        left: auto;
        right: @form-input-horizontal-padding - 1px;
      }
    }

    &.input-tiny{
      input{
        padding-right: 40px;
      }

      .button.button-tiny{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        left: auto;
        right: 0;
      }

      .input-tag{
        border-bottom-right-radius: @system-border-radius/2.0;
        border-top-right-radius: @system-border-radius/2.0;
      }

      i.input-mark{
        left: auto;
        right: 15px;
      }
    }
  }

  // Special component padding mods. TODO: think of a better way v2.0

  // Left
  &.loffset-10 input, &.loffset-10 .fake-result{ padding-left: 10px !important; }
  &.loffset-20 input, &.loffset-20 .fake-result{ padding-left: 20px !important; }
  &.loffset-30 input, &.loffset-30 .fake-result{ padding-left: 30px !important; }
  &.loffset-40 input, &.loffset-40 .fake-result{ padding-left: 40px !important; }
  &.loffset-50 input, &.loffset-50 .fake-result{ padding-left: 50px !important; }
  &.loffset-60 input, &.loffset-60 .fake-result{ padding-left: 60px !important; }
  &.loffset-70 input, &.loffset-70 .fake-result{ padding-left: 70px !important; }
  &.loffset-80 input, &.loffset-80 .fake-result{ padding-left: 80px !important; }
  &.loffset-90 input, &.loffset-90 .fake-result{ padding-left: 90px !important; }
  &.loffset-100 input, &.loffset-100 .fake-result{ padding-left: 100px !important; }
  &.loffset-110 input, &.loffset-110 .fake-result{ padding-left: 110px !important; }
  &.loffset-120 input, &.loffset-120 .fake-result{ padding-left: 120px !important; }
  &.loffset-130 input, &.loffset-130 .fake-result{ padding-left: 130px !important; }
  &.loffset-140 input, &.loffset-140 .fake-result{ padding-left: 140px !important; }
  &.loffset-150 input, &.loffset-150 .fake-result{ padding-left: 150px !important; }
  &.loffset-160 input, &.loffset-160 .fake-result{ padding-left: 160px !important; }
  &.loffset-170 input, &.loffset-170 .fake-result{ padding-left: 170px !important; }
  &.loffset-180 input, &.loffset-180 .fake-result{ padding-left: 180px !important; }
  &.loffset-190 input, &.loffset-190 .fake-result{ padding-left: 190px !important; }
  &.loffset-200 input, &.loffset-200 .fake-result{ padding-left: 200px !important; }

  // Right
  &.roffset-10 input, &.roffset-10 .fake-result{ padding-right: 10px !important; }
  &.roffset-20 input, &.roffset-20 .fake-result{ padding-right: 20px !important; }
  &.roffset-30 input, &.roffset-30 .fake-result{ padding-right: 30px !important; }
  &.roffset-40 input, &.roffset-40 .fake-result{ padding-right: 40px !important; }
  &.roffset-50 input, &.roffset-50 .fake-result{ padding-right: 50px !important; }
  &.roffset-60 input, &.roffset-60 .fake-result{ padding-right: 60px !important; }
  &.roffset-70 input, &.roffset-70 .fake-result{ padding-right: 70px !important; }
  &.roffset-80 input, &.roffset-80 .fake-result{ padding-right: 80px !important; }
  &.roffset-90 input, &.roffset-90 .fake-result{ padding-right: 90px !important; }
  &.roffset-100 input, &.roffset-100 .fake-result{ padding-right: 100px !important; }
  &.roffset-110 input, &.roffset-110 .fake-result{ padding-right: 110px !important; }
  &.roffset-120 input, &.roffset-120 .fake-result{ padding-right: 120px !important; }
  &.roffset-130 input, &.roffset-130 .fake-result{ padding-right: 130px !important; }
  &.roffset-140 input, &.roffset-140 .fake-result{ padding-right: 140px !important; }
  &.roffset-150 input, &.roffset-150 .fake-result{ padding-right: 150px !important; }
  &.roffset-160 input, &.roffset-160 .fake-result{ padding-right: 160px !important; }
  &.roffset-170 input, &.roffset-170 .fake-result{ padding-right: 170px !important; }
  &.roffset-180 input, &.roffset-180 .fake-result{ padding-right: 180px !important; }
  &.roffset-190 input, &.roffset-190 .fake-result{ padding-right: 190px !important; }
  &.roffset-200 input, &.roffset-200 .fake-result{ padding-right: 200px !important; }
}

// Form label
label, .form-label{ // TODO: change class="label" inside forms
  .text-shadow(0 1px 0 @form-label-shadow-color);
  color: @form-label-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1.14em;
  font-weight: bold;
  margin-bottom: @form-label-vertical-margin;
  padding-left: 4px;

  // States
  &.block{
    display: block;
  }

  &.required{
    &:before{
      color: lighten(@form-label-color, 20%);
      content: "* ";
    }
  }
}

// TODO: select
// TODO: checkbox
// TODO: radio

// Password strength indicator
.password-strength-wrapper{
  .border-radius(@form-password-strength-border-radius);
  .clearfix();
  margin: @form-password-strength-vertical-spacing auto;
  width: 98%;

  .password-strength-label{
    color: @form-password-strength-label-color;
    float: left;
    font-size: 0.85em;
    width: 25%;
  }

  .password-strength-path{
    .border-radius(@form-password-strength-border-radius);
    background-color: @form-password-strength-background-color;
    float: right;
    height: @form-password-strength-height;
    margin-top: 4px; // FIX
    width: 75%;
  }

  // Password strength bar
  .password-strength-indicator{
    .border-radius(@form-password-strength-border-radius);
    .opacity(1);
    .transition(@faster);
    display: inline-block;
    height: @form-password-strength-height;

    // Default strength steps
    &.step-0{.opacity(0); width:1%; background-color: @form-password-strength-0-color;}
    &.step-10{width:10%; background-color: @form-password-strength-10-color;}
    &.step-20{width:20%; background-color: @form-password-strength-20-color;}
    &.step-30{width:30%; background-color: @form-password-strength-30-color;}
    &.step-40{width:40%; background-color: @form-password-strength-40-color;}
    &.step-50{width:50%; background-color: @form-password-strength-50-color;}
    &.step-60{width:60%; background-color: @form-password-strength-60-color;}
    &.step-70{width:70%; background-color: @form-password-strength-70-color;}
    &.step-80{width:80%; background-color: @form-password-strength-80-color;}
    &.step-90{width:90%; background-color: @form-password-strength-90-color;}
    &.step-100{width:100%; background-color: @form-password-strength-100-color;}
  }
}

// Extra classes (third parties)

// TODO: typeahead
// TODO: slider
// TODO: qtip
// TODO: calendar

// IE fixes
.ie7{
  .input-wrapper{
    .button.float-right{
      top: (@form-input-vertical-padding + 1.5px);
    }
    .input-tag{
      height: (@form-input-height);
      line-height: (@form-input-height);
    }
  }
}