@import "config.less";

@global-hr-border-top-color:                                #ddd;
@global-hr-border-bottom-color:                             #eee;


hr{
  border-top: @global-hr-border-top-color;
  border-bottom: @global-hr-border-bottom-color;
}
