<div class="input-wrapper" ng-class="
    {
      'input-wrapper-small': size=='small',
      'input-wrapper-large': size=='large',
      'input-wrapper-tiny': size=='tiny',

      'loffset-50': leftIcon !== undefined,
      'roffset-50': rightIcon !== undefined,

      'with-button-left': buttonPosition === 'left',
      'with-button-right': buttonPosition === 'right',

      'loffset-70': buttonPosition === 'left',
      'roffset-70': buttonPosition === 'right'
    }
  ">

  <we-icon ng-if="buttonPosition === undefined && leftIcon !== undefined" class="form-input-mark" icon="{{ leftIcon }}"></we-icon>

  <span ng-transclude="buttonSlot"></span>

  <span ng-transclude="buttonTagSlot"></span>

  <input type="text" placeholder="{{ placeholder }}">

  <we-icon ng-if="buttonPosition === undefined && rightIcon !== undefined" class="form-input-mark" icon="{{ rightIcon }}"></we-icon>

  
</div>