<div class="header">
    <a
      we-button
      size="small"
      ng-click="previous()"
      icon="chevron-left"
      class="calendar-navigation navigation-left left-end"></a>
      <a
        we-button
        size="small"
        ng-click="today()"
        class="calendar-navigation navigation-today"
        color="primary">Hoy</a>

    <span class="calendar-header-month">{{month.format("MMMM [del] YYYY")}}</span>

    <a
      we-button
      size="small"
      icon="chevron-right"
      ng-click="next()"
      class="calendar-navigation navigation-right right-end"></a>
</div>
<div class="week names">
    <span class="day-names" ng-repeat="d in weekArray">{{d}}</span>
</div>
<div class="week" ng-repeat="week in weeks">
  <div class="day-cell-number"
        ng-class="{ 'center-number': numberposition === 'center','left-upper-number': numberposition === 'upper-left', today: day.isToday, 'different-month': !day.isCurrentMonth, 'selected': day.date.isSame(selected) }"
        ng-click="select(day)"
        ng-repeat="day in week.days"
        id="{{day.dateId}}">
  <span class="calendar-number-day">{{day.number}}</span>
  <div
    class="calendar-meeting-inside"
    ng-repeat="act in day.activities | limitTo:limit"
    ng-click="doOnClickElement(act)">
    <p class="calendar-meeting-inside-place ellipsis">{{act.place}}</p>
    <p class="calendar-meeting-inside-hour">{{act.formatDate}}</p>
  </div>
  <a
    ng-if="day.activities.length > limit"
    we-button
    color="success"
    size="tiny"
    class="calendar-meeting-inside-button-more"
    ng-click="manageClickMore()"
    uib-popover-template="'components/calendar/calendar-popover.html'"
    popover-trigger="outsideClick"
    popover-placement="right">{{day.activities.length - limit}} MÁS</a>
  </div>
</div>
