<div class="calendar-popover-day">
  <div class="popover-header popover-header-titled calendar-popover-day-title">
    <p class="popover-header-title">{{selectedobject.date.format("DD MMMM, YYYY")}}</p>
  </div>
  <div class="popover-inner-section calendar-popover-day-content">
    <div class="calendar-popover-day-activity" ng-repeat="act in selectedobject.activities" ng-click="functionopenselect(act, $event)">
      <div ng-click="closePopoverNow(day)">
        <p
          ng-if="!act.isTask"
          class="calendar-meeting-inside-place ellipsis">{{act.place}}</p>
        <p
          ng-if="!act.isTask"
          class="calendar-meeting-inside-hour">{{act.formatDate}}</p>

        <p
          ng-if="act.isTask"
          class="calendar-meeting-inside-place ellipsis">{{act.name}}</p>
        <p
          ng-if="act.isTask"
          class="calendar-meeting-inside-hour {{act.isTask ? 'is-task-text' : ''}}">{{act.description}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
